<div class="form-overlay"></div>
<div class="customer--root">
  <div class="form-container custom-password-page">
    <div class="page-width">
      <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth form-wrapper">
        <div class="section-heading">
          <h1>{{- 'collections.form_title' | t -}}</h1>
        </div>
        <div class="colform">
          <form class="collectionform" action="#" method="post" id="colpswd_form">
            <div class="form-inputs">
              <label for="password" class="label">
                {{- 'collections.pswd_placeholder' | t -}}
              </label>
              <input type="password" id="coll_pswd" name="col_pswd" autocomplete="off" for="password" required>
              <span class="form-error col-form-error" style="display:none;"></span>
              <input type="submit" class="btn" name="col_pswd_sub" id="col_sub" value="{{- 'collections.submit' | t -}}">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>